the 9
a 5
in 5
league 5
of 5
and 4
by 3
overwatch 3
with 3
based 2
esports 2
its 2
leagues 2
on 2
other 2
professional 2
season 2
teams 2
that 2
2016 1
2018 1
3 1
5 1
addition 1
american 1
announced 1
annual 1
assured 1
backed 1
being 1
benefits 1
blizzard 1
city 1
commonly 1
developer 1
entertainment 1
follows 1
for 1
format 1
game 1
given 1
groups 1
how 1
inaugural 1
is 1
million 1
minimum 1
model 1
north 1
owl 1
ownership 1
performs 1
permanent 1
place 1
players 1
playoffs 1
plays 1
pool 1
portion 1
prize 1
produced 1
promotion 1
rather 1
regular 1
relegation 1
revenue 1
roster 1
salary 1
separate 1
set 1
sharing 1
sporting 1
taking 1
team 1
than 1
to 1
total 1
traditional 1
us 1
use 1
used 1
using 1
video 1
was 1
winnings 1
year 1
